body {
    background-color: lightskyblue;
    
}
.container {
    margin: 0 auto;
    max-width: 400px;
    text-align: center;
}

.menu{
    padding-bottom: 20px;
}

h1 {
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.menu ul {
    flex-flow: row nowrap;
    justify-content: space-evenly;
    list-style: none;
    padding:0px;
    margin:0px;
    display: flex;
}

.menu a {
    text-decoration: none;
    color: black;
    padding-bottom:4px;
}

.menu a:hover {
    border-bottom: 2px solid white;
}



.table {
    background-color:white;
    border: 1px solid gray;
    border-radius: 15px;
}

.table ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    padding-bottom:10px;
}
.table li {
    padding: 5px 0px 5px;
    border-bottom: 1px solid #ddd;
}
.table li:last-child {
    border-bottom: none;
    padding: 5px 0px 0px;
}
